.chapter-masthead {
  position: relative;
  width: 100vw;
  height: 66.66666666vh;
  overflow: hidden;
  white-space: nowrap;
}

.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size: cover;
  z-index: @zindex-bg;
}

.actions {
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  display: table;
  position: relative;
  
  button {
    margin: 0 auto;
    top: 0;
    display: block;
    border: none;
    background-color: transparent;
    color: white;

  }
}

.main-action {
  font-size: 10em;
}

.sec-action {
  position: absolute;
  font-size: 5em;
  bottom: 0;
  
  &.open-video-btn {
    right: 0;
  }
  
  &.next-chapter-btn {
    left: 0;
  }
}

.open-video-btn {
  
  &:before {
    .icn("f01d");
  }
  &.sec-action:before {
    .icn("f01e");
  }
}

.next-chapter-btn:before {
  .icn("f190");
}

.chapter-header {
  z-index: @zindex-content;
  
  .panel {
    display: flex;
    margin-top: -15%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.chapter-number,
.chapter-title,
.chapter-period {
  width: auto;
}

.chapter-number {
  color: #999;
}

.chapter-period {
  font-size: 1.5em;
}

.chapter-desc {
  
  p {
    column-count: 2;
    column-gap: @grid-gutter-width;
  }
}

