@import (less) "./public/components/normalize.css";
@import (less) "./public/components/h5bp.css";
@import (less) "./public/components/reveal.js/css/reveal.css";
@import (less) "fonts.less";

@video-width: 960px;
@font-path: "./fonts";

body {
  direction: rtl;
  background-color: #eee;
  font-family: "almoni-dl", arial !important; 
}

/*

.owl-carousel {
  .owl-item {
    width: @video-width;
    float: right;
  }
}

*/

.chapter {
  text-align: right;
  font-family: "almoni-dl", arial !important;
  
  .video {
    display: flex;
    width: @video-width;
    height: @video-width * 10/16;
    margin-bottom: 20px;
    background-color: #666;
    border: 1px solid #333;
    align-items: center;
    justify-content: space-around;
    
    .action {
      padding: 10px 15px;
      
      &.fa-spin {
        font-size: 3em;
        color: #ccc;
      }
    }
  }
  
  h1,
  p {
    float: right;
    display: inline-block;
    font-family: "almoni-dl", arial !important;
  }

  h1 {
    width: 40%;
    font-size: 3em;
    
    .chapter-number {
      font-size: 0.25em;
      color: #999;
      display: block;
    }

    small {
      font-size: 0.5em;
      display: block;
    }
  }

  p {
    width: 60%;
  }
}

#menu {
  width: 100%;
  position: fixed;
  bottom: -150px;
  right: 0;
  z-index: 10000;
  padding: 0;
  margin: 0;
  display: flex;
  
  &:hover {
    bottom: 0;
  }
}

.menu-item {
  width: 18%;
  display: inline-block;
  padding-top: 40px;
  
  /*
  
  &:first-child,
  &:last-child {
    width: 5%;
  }
  
  &:first-child {
    transform: rotate(90deg);
  }
  
  &:last-child {
    transform: rotate(-90deg);
  }
  
  */
  
  &.present {
    
    a {
      background-color: #999;
    }
  }
  
  a {
    display: block;
    height: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #555;
    text-align: center;
    text-decoration: none;
  }
  
  .thumbnail {
    width: 100%;
    height: 20%;
    margin: 10px;
    background-color: #222;
  }
  
  h2 {
    margin: 0 auto;
    font-size: 2em;
    color: white;

    .chapter-number {
      font-size: 0.5em;
      color: #bbb;
      display: block;
    }

    small {
      display: block;
      font-size: 0.5em;
      font-weight: 400;
    }
  }

  p {
    width: @video-width * 6/10;
    float: right;
  }
}
